
html[
display:flex;
justify-content: center

header{
  font-size:3rem;
  color:#7f4e62;
  text-align: center;
  background-color: rgb(176, 168, 255);
  font-style:italic;
  font-family: 'Roboto Mono', monospace;
  text-decoration:underline;
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 10;
  width: 100%;
  margin: 0;
  top: 0px;
}


#about{text-align: center; z-index: 5;margin-top: 350;}
#link{text-align: center;z-index: 5;}
#link{margin: 50; z-index: 5;}
#about2{text-align: center;color: #ff8c8c;z-index: 5;}
.overlay{ text-align: center; background-color: #000; opacity: .7; padding: 20px; z-index: 5;}
#info{font-family: 'Shadows Into Light' , cursive;text-align: center;z-index: 5;}
#info2{text-align: center;font-family: 'Shadows Into Light'; cursive;z-index: 5;}
#info3{text-align: center;z-index: 5;}
.overlay2{margin-top:50; margin-bottom: 50;text-align: center; background-color: #fff; opacity: .7; padding: 20px;z-index: 5;}

body{background-image: url(../images/purpleflowerbackground.jpg) }

@media only screen and (max-width:760px) (min-width:480px)
{
  .desktop-head{
    display:none;}
  .mobile{display:flex;}
  .body{flex-directiona:column; margin:0;}
}
  
